body {
	font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, p {
	margin: 0;
}

ion-icon {
	color: #2baddd;
	font-size: 50px;
}

img {
	box-shadow: 10px 5px 5px #C8C8C8;
	float: right;
}

.contact-icon:hover {
	color: #ff6961;
}

 .contact-icon {
 	color: #2baddd;
	font-size: 17px;
	padding-right: 5px;
	transition-duration: 400ms;
 }

.btn:hover {
	background-color: #ff6961;
	border-color: #ff6961;
	color: #fff;
	transform: scale(1.02);
}

.btn {
	background-color: #2baddd;
	transition-duration: 400ms;
}

.section-heading {
	margin: 0;
	padding-top: 30px;
	padding-bottom: 50px;
	text-align: center;
	font-size: 50px;
	color: #333333;
}

.section-style {
	font-size: 17px;
	padding: 40px 0;
	background-color: #f2f2f2;
	line-height: 1.7;
	border-bottom: 3px solid rgba(43,173,221,.5);
}

.section-style h3 {
	font-weight: 600;
	margin-bottom: 15px;
}

.section-style p {
	margin-bottom: 20px;
}

.skills-box {
	text-align: center;
}

.about {
	border-top: 3px solid rgba(43,173,221,.5);
}

.header {
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #f2f2f2;
}

.header-links {
	text-align: right;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.intro {
    width: 100%;
    padding: 300px 15px;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(51, 51, 51, 0.7), rgba(51, 51, 51, 0.7) ), url(images/portrait.jpeg);
    
}

.about-intro {
    width: 100%;
    padding: 300px 15px;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(51, 51, 51, 0.7), rgba(51, 51, 51, 0.7) ), url(images/gym.jpg);
    
}

.intro-text {
    color: #fff;
	text-align: right;
	padding-right: 50px;
}

.intro-text h2 {
	font-size: 50px;
	font-weight: 300;
}

.intro-text p {
	font-size: 24px;
	font-weight: 600;
}

.skills-box {
	margin-bottom: 25px;
}

.contact {
	background-color: #333333;
	color: #fff;
	text-align: center;
	font-size: 17px;
	padding-bottom: 50px;
	line-height: 1.7;
}

.contact-icon {
	margin-bottom: -3.5px;
}

.contact-title {
	color: #fff;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 40px;
	font-size: 70px;
}

.fa-linkedin-square {
	color: #2baddd;
	margin-right: 10px;
}

.fa-linkedin-square:hover {
	color: #ff6961;
	transition-duration: 400ms;
}

.resume {
	color: #2baddd;
	transition-duration: 300ms;
}

.resume:hover {
	text-decoration: none;
	color: #ff6961;
}

@media (max-width: 768px){
   .intro-text {
    	padding-right: 0;
    	text-align: center;
    }
    .intro-text h2 {
    	font-size: 38px;
    }
    .intro-text p {
    	font-size: 20px;
    }
	.section-style {
		font-size: 13px;
		text-align: center;
	}
	.section-style h3 {
		font-size: 17px;
	}
	.section-heading {
		font-size: 32px;
	}
	.contact-title {
		font-size: 40px;
	}
	.about-img {
		margin-bottom: 15px;
	}
}

@media (min-width: 1200px) {
	.intro, .about-intro {
		background-position: top center;
	}
}

